h1{
    color: brown;
    font-style: normal;
    text-align: center;
    height: 50%;
    width: 100%;
    font-weight: bold;
}

p{
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;        
}
.bd{
    color: blueviolet;
}
div{
    text-align: center;
}
input:hover{
    color: aqua;
    font-size: 100%;
 
}
.sick:hover{
    color: chartreuse;
    background-color: black;
    font-size: 120%;
}
img{
    height: 10%;
    width: 30%;
    
}
.center{
    margin-left: 35%;
}
a:link {
    color: yellowgreen;
    text-decoration: none
}
section{
    border: 5px solid purple;
    margin: 25px;
    float: left;
    padding: 5px;
    background-color: black;
    color: aqua;
}
.hop:hover{
    color: chartreuse;
    font-size: 120%;
}
